/*----------------------------------------*/
/*  About Area
/*----------------------------------------*/
.about {
  &-area {
    .img-area{
      img{
        max-width: 100%;
      }
    }
  }

  &-title {
    position: relative;
    z-index: 99;

    h2, h4 {
      color: $black;
    }
  }

}
#more {display: none;}