/*----------------------------------------*/
/*  Emergency Area
/*----------------------------------------*/
.emergency {
  &-area{
    .section-heading{
      .section-title, .section-subtitle{
        color: $white;
      }
    }
    .emergency-content{
      .content-text{
        line-height: 174%; /* 34.8px */
        color: $white;
        font-size: 16px;
      }

      .emergency-box{
        position: relative;
        .emergency-btn{
          border-radius: 8px;
          background: $primary;
          color: $white;
          text-align: center;
          font-family: "Be Vietnam";
          font-weight: 600;
          line-height: 140%; /* 28px */
          letter-spacing: 0.2px;
          text-transform: capitalize;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 16px 20px;
          font-size: 16px;
          width: 200px;
        }
        .emergency-contact{
          .user-items{
            .call-icon{
              margin-left: -24px;
              background: var(--primary, #D20D0C);
              display: flex;
              width: 51px;
              height: 51px;
              padding: 18px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              flex-shrink: 0;
              border-radius: 55px;
            }


          }
          .emergency-number{
            .call{
              
              /* Body text/P2 */
              font-family: ABeeZee;
              line-height: 174%; /* 34.8px */
              font-style: normal;
              font-weight: 400;
              color: $white;
              font-size: 14px;
            }
            .number{      
              font-family: "Be Vietnam";
              color: $white;
              font-weight: 700;
              line-height: 130%; 
              text-transform: capitalize;
              font-size: 17px;
            }
          }
          .pricing-shape{
            position: absolute;
            right: -160px;
            top: -120px;
          }
        }
      }
    }
    h4,h6,a{
      color: $white;
    }

    .help-img-area{
      position: relative;
      .help-img{
        min-width: 100%;
        position: absolute;
        top: 68px;
        right: -50px;
      }
    }
  }
  
}