/*----------------------------------------*/
/*  Project Area
/*----------------------------------------*/
.project{
    &-area{

            .nav-pills{
                border-bottom: 1px solid $gray;
                display: inline-flex;
            }
            .nav-pills .nav-link{
                font-family: ABeeZee;
                font-size: 16px;
                font-weight: 400;
                line-height: 174%;
                color: $gray-2;
                display: flex;
                padding: 10px 14px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                
            }
            .nav-pills .nav-link .badge-number{
                display: flex;
                padding: 2px 10px;
                align-items: center;
                border-radius: 16px;
                background: $white-7;

            }
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
                background-color: $white;
                border-bottom: 3px solid $secondary-blue;
                border-radius: 0%;
                color: $secondary-blue;
                .badge-number{
                    background-color: $primary;
                    color: $title-color;
                }
            }
            .courses-box{
                .box-item{
                    box-shadow: 0px 6px 40px 0px rgba(19, 19, 37, 0.07);
                    background-color: $white;
                    border-radius: 0 0 8px 8px;
                    img{
                        min-width: 100%;
                        border-radius: 8px 8px 0 0;
                    }

                    .box-text{
                        padding: 30px;
                        overflow: hidden;
                        color: $gray-2;
                        text-align: center;
                        text-overflow: ellipsis;
                        line-height: 174%; /* 34.8px */
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        align-self: stretch;
                        font-size: 15px;
                        .text-bold{
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                            color: $gray-2;
                            text-overflow: ellipsis;
                            font-family: "Be Vietnam";
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 130%;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }

    }
