/*----------------------------------------*/
/*  Regions Area
/*----------------------------------------*/
.regions {
    &-area{
        overflow: hidden;
        .regions-slider{
            .regions-swiper {
                overflow: hidden;
            }
            position: relative;
            .slider-item{
                // gap: 10px;
                align-self: stretch;
                img{
                    min-width: 100%;
                    border-radius: 20px 20px 0 0;
                }
                .slider-content{
                    text-align: center;
                    border-radius: 8px;
                    background: var(--white, #FFF);
                    box-shadow: 0px 4px 20px 0px rgba(19, 19, 37, 0.07);
                    padding: 24px;
                    margin-bottom: 13px;
                    .area-name{
                        text-align: center;
                        
                        /* Title/H4 */
                        font-family: "Be Vietnam";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%; /* 31.2px */
                        text-transform: capitalize;
                        padding-top: 24px;
                        padding-bottom: 10px;
                    }
    
                    .slider-text{
                        color: $gray-2;
                        font-family: ABeeZee;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 174%; /* 34.8px */
                        text-align: center;
                        padding-bottom: 24px;
                    }
                }

                
            }
            .swiper-button-next{
                border-radius: 50%;
                margin-right: -42px;
                border: 2px solid $gray-3;
                svg{
                    width: 20px;
                    height: 20px;
                }
            }
            .swiper-button-prev{                
                border-radius: 50%;
                margin-left: -42px;
                border: 2px solid $gray-3;
                svg{
                    width: 20px;
                    height: 20px;
                }
        
            }

        }
    }

}