/* Small */
@media screen and (min-width: 576px) {

    .section-title {
        letter-spacing: -0.72px;
        font-size: 24px;
    }
    .hero-area .hero-left .hero-service{
        display: flex;
        justify-content: space-between;
    }

    .footer-area .solutions-subtitle{
        top: -10px;
        right: 115px;
    }


}

/* Medium */
@media screen and (min-width: 768px) {

   

    /* Utilities */

    .section-text{
        font-size: 15px;
    }
    
    .md-block{
        display: block;
    }

    .md-48{
        flex: 0 0 auto;
        width: 48%;
    }

    /* hero Area */

    .hero-subtitle {
        font-size: 14px;
    }
    .hero-title {
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -1.2px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.7;
        letter-spacing: 1.2px;
    }

    .hero-area .hero-right .form-group input, .hero-area .hero-right .form-group .form-control{
        padding: 18px 20px;
    }

    .hero-area .hero-right form .form-control{
        font-size: 16px;
    }

        /* service Area */
    .service-area .service-items .single-item .content-text{
        font-size: 13px;
    }

    /* .Project Area */
       .project-area .courses-box .box-item .box-text{
        font-size: 17px;
    }
    
    .project-area .courses-box .box-item .box-text .text-bold{
        font-size: 17px;

    }

    /* Testimonial Area */
    .testimonial-area .testimonial-slider .slider-item .slider-content .client-content .client-title{
        font-size: 14px;
    }

    .testimonial-area .testimonial-slider .slider-item .slider-content .client-review svg{
        width: 10px;
    }

    .testimonial-area .testimonial-slider .slider-item{
        padding: 18px;
    }

    .testimonial-area .testimonial-slider .slider-item .testimonial-text{
        font-style: 12px;
    }

        /* regions Area */
        .regions-area .regions-slider .slider-item .slider-content .area-name{
            font-size: 20px;
        }
    
        .regions-area .regions-slider .slider-item .slider-content .slider-text{
            font-size: 16px;
        }

    

    /*Footer Area*/

    .footer-title{
        letter-spacing: -0.58px;
        font-size: 26px;
        line-height: 32px;  
        margin: 0 8%;
    }
    .footer-text{
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 25px;
    }

    .footer-content-3 a {
        font-size: 28px;
    }
    .footer-content-3 p {
        width: 70%;
    }
    .footer-social-link-3 ul {
        justify-content: flex-end;
    }
    .footer-menu-2 ul li a {
        text-align: right;
    }

    .footer-menu ul li a{
        font-size: 14px;
        line-height: 18px;
    }

    .footer-menu .menu-title{
        
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.22px;
        padding-bottom: 16px;
    }

    .footer-area .solutions-subtitle{
        top: -10px;
        right: 115px;
        line-height: 16px;
        font-size: 11px;
    }

    .copiright-area p{
        font-size: 15px;
        line-height: 20px;
    }

    .footer-social-link ul{
        justify-content: left;
    }

    .footer-bottom .bottom-contact{
        justify-content: right;
    }

    .footer-bottom .bottom-contact .emergency-contact .right-content .call-text-1{
        font-size: 16px;
    }

    .footer-bottom .bottom-contact .emergency-contact .right-content .call-text-2{
        font-size: 20px;
    }

}

/* Large */
@media screen and (min-width: 992px) {

    /* Utilities */
    .section-title {
        letter-spacing: -0.72px;
        font-size: 40px;
    }
    .section-subtitle {
        font-size: 20px;
    }

    .section-text {
        font-size: 16px;
        line-height: 26px;
    }


    .lg-block{
        display: block;
    }

    .lg-32{
        flex: 0 0 auto;
        width: 32%;
    }

    

    /* Header Area */
    .header-area .navbar {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    a.navbar-logo{
        margin-top: -10px;
    }
    .header-area .navbar.navbar_fixed {
        padding: 15px 0;
    }
    
    .header-area .navbar-nav > .nav-item .mobile_dropdown_icon {
        display: none;
    }
    .header-area .navbar-nav > .nav-item.submenu .dropdown-menu {
        -webkit-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
        visibility: hidden;
        display: block;
    }
    .header-area .navbar-nav > .nav-item.submenu .dropdown-menu::before {
	    display: block;
    }
    .header-area .navbar-nav > .nav-item.submenu:hover .dropdown-menu {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 1;
        visibility: visible;
    }
    .header-area .navbar.navbar_fixed .navbar-nav > .nav-item.submenu:hover .dropdown-menu {
        -webkit-transform: translateY(26px);
        transform: translateY(26px);
    }
    .header-area .navbar-collapse {
        background: initial;
        overflow-y: initial;
        box-shadow: none;
        max-height: max-content;
        height: auto;
        border-radius: 0;
        padding: 0;
        margin-top: 0;
    }


    .header-area .nav-separator{
        display: block;
    }
    .header-area .right-nav {
        margin-left: 44px;
        margin-top: 0;
        display: flex;
    }

    .header-area .right-nav .right-nav-search{
        padding-bottom: 0;
    }
    .header-area .right-nav .right-nav-chart{
        padding-bottom: 0;
    }

    .header-area .right-nav-chart-number{
        right: -8px;
    }

    .header-area .right-nav-btn{
        left: 30px;
        margin-top: 0;
    }

  /* Hero Area */
    
    .hero-area .hero-title {
        font-size: 44px;
        font-weight: 700;
        line-height: 108%; 
        letter-spacing: -0.96px;
         
    }

    .hero-area .hero-left .hero-service{
        justify-content: start;
    }




    

    .hero-content h4 {
        font-size: 30px;
    }
    .hero-timeline-box h2 {
        font-size: 140px;
    }
    .hero-content a {
        font-size: 20px;
    }

    .hero-area .hero-blog .hero-text{
        font-size: 16px;
        line-height: 26px;
    }

    .hero-text-3 {
        font-size: 24px;
    }
    
    .hero-area .ui-design {
        visibility: visible;
    }



    
    /* service Area */

    .service-area .service-items .single-item .content-title{
        font-size: 20px;
    }
    .service-area .service-items .single-item .content-text{
        font-size: 15px;
    }

    .service-area .service-items .single-item .service-btn{
        font-size: 16px;
    }

    /* Choose Area */

    .choose-area .choose-content .content-text{
        font-size: 20px;
    }

    .choose-area .service-box .service-item .small-title{
        font-size: 20px;
    }

    .choose-area .choose-content .choose-btn{
        padding: 16px 26px;
        font-size: 20px;
    }

    /* Project Area */

    .project-area .nav-pills .nav-link{
        font-size: 20px;
    }

    .project-area .courses-box .box-item .box-text{
        font-size: 20px;
    }
    
    .project-area .courses-box .box-item .box-text .text-bold{
        font-size: 20px;

    }


    /* Testimonial Area */
    .testimonial-area .testimonial-slider .slider-item .slider-content .client-content .client-title{
        font-size: 15px;
    }


    .testimonial-area .testimonial-slider .slider-item{
        padding: 28px;
    }

    .testimonial-area .testimonial-slider .slider-item .slider-content .client-content .date{
        font-size: 13px;
    }

    .testimonial-area .testimonial-slider .slider-item .testimonial-text{
        font-size: 14px;
    }


    /* Emergency Area*/
    .emergency-area .emergency-content .content-text{
        font-size: 20px;
    }




     /* Blog Area */
     .blog-area  .date{
        font-size: 16px;
     }
     .blog-area .blog-content .blog-title{
        font-size: 23px;
    }
     .blog-area .blog-content .btn-read{
        font-size: 20px;
    }
     .blog-area .problem-title{
        font-size: 24px;
     }
     .blog-area .btn-read svg{
        width: 24px;
        height: 24px;
        opacity: 0.8;
    }



    /* Footer Area */
    .footer-menu {
        padding-top: 0;
    }
    .footer-title{
        letter-spacing: -0.58px;
        font-size: 28px;
        line-height: 36px;  
        margin: 0 18%;
    }
    .footer-text{
        font-size: 15px;
        line-height: 24px;
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .footer-area-content .footer-text-2{
        font-size: 16px;
        line-height: 26px;
        margin-top: 36px;
    }

    .footer-menu ul li a{
        font-size: 15px;
        line-height: 20px;
    }

    .copiright-area p{
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .footer-area .solutions-subtitle{
        top: -8px;
        right: 55px;
        line-height: 18px;
        font-size: 12px;
    }


}

/* Extra large */
@media screen and (min-width: 1200px) {
    .container-xs{
        max-width: 960px;
        margin: 0 auto;
    }
    .container-sm{
        max-width: 1120px;
        margin: 0 auto;
    }
    .section-text{
        font-size: 20px;
    }


    
    /* hero Area */


    .hero-title {
        font-size: 64px;
        
    }



    .hero-text {
        font-size: 20px;
    }



    .header-area .navbar-nav {
        gap: 44px;
    }

    .hero-area .hero-right {
        margin-left: 48px;
    }




    /*About area*/
    .about-tab .nav .nav-link {
        font-size: 20px;
    }

    /*service area*/
    
    .service-area .service-items .single-item .content-title{
        font-size: 24px;
    }
    .service-area .service-items .single-item .content-text{
        font-size: 15px;
    }

        /* Testimonial Area */
    .testimonial-area .testimonial-slider .slider-item .slider-content .client-content .client-title{
            font-size: 20px;
    }

    .testimonial-area .testimonial-slider .slider-item .slider-content .client-review svg{
        width: 16px;
    }

    .testimonial-area .testimonial-slider .slider-item .slider-content .client-content .date{
        font-size: 14px;
    }

    .testimonial-area .testimonial-slider .slider-item{
        padding: 32px;
    }

    .testimonial-area .testimonial-slider .slider-item .testimonial-text{
        font-size: 18px;
    }
    
    /* regions Area */
    .regions-area .regions-slider .slider-item .slider-content .area-name{
        font-size: 24px;
    }

    .regions-area .regions-slider .slider-item .slider-content .slider-text{
        font-size: 20px;
    }


    /* Emergency Area */
    .emergency-area .emergency-content .emergency-box .emergency-btn{
        font-size: 20px;
        width: 250px;
    }
    .emergency-area .emergency-content .emergency-box .emergency-contact .emergency-number .call{
        font-size: 20px;
    }

    .emergency-area .emergency-content .emergency-box .emergency-contact .emergency-number .number{
        font-size: 24px;
    }

    /* Blog Area */
    .blog-area .blog-content .blog-title{
        font-size: 32px;
    }
    

    /* Footer Area */
    .emergency-area .help-img-area .help-img{
        top: -191px;
    }

    /* Footer Area */
    .footer-title{
        letter-spacing: -0.58px;
        font-size: 29px;
        line-height: 39px;  
        margin: 0 25%;
    }
    .footer-text{
        font-size: 16px;
        line-height: 26px;
    }

    .footer-menu .menu-title{        
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.22px;
    }

    .footer-menu ul li a{
        font-size: 16px;
        line-height: 24px;
    }

    .footer-area .solutions-subtitle{
        top: -8px;
        right: -8px;
    }


}

/* Extra extra large */
@media screen and (min-width: 1400px) {

    .container-md{
        max-width: 1348px;
        margin: 0 auto;
    }
    .container-md-2{
        max-width: 1344px;
        margin: 0 auto;
    }
    .container-lg{
        max-width: 1359px;
        margin: 0 auto;
    }

    .container-xl{
        max-width: 1648px;
        margin: 0 auto;
    }
    /* Utilities */
    .section-title {
        font-size: 48px;
    }

    .section-item-title {
        font-size: 60px;
    }


  

    /* hero Area */
    

    .hero-area .hero-title{
        font-size: 64px;
        font-weight: 700;
        line-height: 108%; 
        letter-spacing: -0.96px;
    }

    /* Services Area */
    .services-item-title {
        font-size: 22px;
    }
    .services-item p {
        font-size: 18px;
    }

    /* Integrations Area */


    /* Strategies Area */
    .strategies-content-item .details h4 {
        font-size: 20px;
    }
    .strategies-content-item .details p {
        font-size: 18px;
    }

    /* Work Area */



    /* Team Area */
    .team-item h4 {
        font-size: 25px;
        margin-top: 37px;
    }
    .team-item p {
        margin-top: 14px;
    }

    /* Popular Courses Area */


    /* Courses Area */
    .courses-box a,h6{
        font-size: 13px;
        font-weight: 700;
        
    }

    /* Contact Area */
    .contact-row {
        margin: 0 -70px;
    }
    .contact-title-big {
        font-size: 150px;
        margin-top: -70px;
    }
    .contact-form-title {
        font-size: 32px;
    }

    /* Review Area */
    .review-item{        
        padding: 45px 30px 30px 30px;
    }
    .review-text{
        font-size: 16px;
    }

    /*Articles area*/
    .articles-title{
        font-size: 24px;
        line-height: 32px;
    }

    /* Footer Area */
    .footer-area-content .footer-text-2{
        margin-left: 32px;
        width: 70%;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1600px) {
    
    /* courses Area */
    .courses-box a, h6{
        font-size: 14px;
    }

    .courses-box .box-item .courses-content .courses-title{
        font-size: 20px;
    }    
   
}